<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
  </head>
  <body>
    <% data.map((item, index)=> { %>
      <div key="index">
        <h1> <%= item.id %></h1>
        <p>姓名: <%= item.name %></p>
        <p>电话: <%= item.phone %></p>
        <p>公司: <%= item.company %></p>
        <p>需求: <%= item.info %></p>
        <p>时间: <%= item.create_time %></p>
      </div>
    <% }) %>
  </body>
</html>
